version: '3.8'
services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  backend:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "5050:5050"
    environment:
      - REDIS_URL=redis://127.0.0.1:6379
    depends_on:
      - redis